<% content_for :sub do %>
  <h5>...with a name .com hipsters love!</h5>
  <!-- bla hupsters -->
<% end %>

<div id="sameline">
  <div id="newlink">
    <%= link_to image_tag('add.png'), new_article_path%>
    <%= link_to 'Create an Article', new_article_path %>
  </div>
  <h2>All the World's Articles</h2>

</div>
<table>
  <tr>
    <th>Title</th>
    <th>Author Name</th>
    <th>Body</th>
    <th>Creation Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.author %></td>
    <td><%= article.body %></td>
    <td><%= article.created_at.to_s(:index) %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% if @articles.count == 1 %>
  <% art = "article" %>
<% else %>
  <% art = "articles" %>
<% end %>
<p>
  <%= @articles.count %> <%= art %> 
</p>

<br />


