<% content_for :sub do %>
  <h5>...with a name .com hipsters love!</h5>
  <!-- bla hupsters -->
<% end %>

<div id="sameline">
  <div id="newlink">
    <%= link_to image_tag('add.png'), new_article_path%>
    <%= link_to 'Create an Article', new_article_path %>
  </div>
  <h2>All the World's Articles</h2>

</div>
<table id="list_articles">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author Name</th>
      <th>Body</th>
      <th>Creation Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<tbody>
  <% @articles.each do |article| %>
    <tr class="<%= cycle('odd','even') %>">
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td><%= article.body %></td>
      <td><%= article.created_at.to_s(:index) %></td>
      <td class="special"><%= link_to image_tag('magnifier.png', :title => "Article Page"), article %></td>
      <td class="special"><%= link_to image_tag('page_white_edit.png', :title => "Edirt Article"), edit_article_path(article) %></td>
      <td class="special"><%= link_to image_tag('bin_closed.png', :title => "Delete Article"), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</tbody>
</table>
<% if @articles.count == 1 %>
  <% art = "article" %>
<% else %>
  <% art = "articles" %>
<% end %>
<p>
  <%= @articles.count %> <%= art %> 
</p>

<br />


