<% content_for :sub do %>
  <h5>...what's "Articl" in Spanish anywhy?</h5>
  <!-- bla hupsters -->
<% end %>
<p id="notice"><%= notice %></p>
<p id="title"><%= @article.title %><p>

<p>
  <%= "by #{@article.author}. #{@article.edits} edits since #{@article.created_at.to_s(:show)}" %>
</p>

<p>
  <%= @article.body %>
</p>



<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
