<!DOCTYPE html>
<html>
<head>
  <title>Articles</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" >
	<p>

		<h1>Articl.es</h1>
		<%= yield :sub %>
	</p>
</div>
<%= yield %>

</body>
</html>
